/* general reset */
*{
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body{
	margin: 0;
	padding: 0;
	font-family: system-ui;
}

/* media queries */
@media screen and (max-width: 600px){
	.navbar{
		flex-direction: column;
	}
	
	.project-container{
		flex-direction: column;
	}
	#profile-section{
		flex-direction: column;
	}

	#status{
		flex-direction: column;
	}
	
	.container{
		flex-direction: column;
		height: 100px;
		width: 200px;
	}

	#project-section > div{
		width: auto;
		margin: 10px;
		text-align: center;
		line-height: 30px;
		height: auto;
	}
	
	.navbar a:hover{
		padding: 15px;
	}
	
	#footer{
		flex-direction: flex-end;
	}
}

/* navbar */
nav.navbar{
	height: auto;
	background-color: darkgreen;
	padding: 10px;
	position: sticky;
	top: 0;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar a{
	padding: 14px 10px;
	color: white;
	text-decoration: none;
}

.navbar a:hover{
	background-color: white;
	color: green;
	top: 0;
	padding: 13px;
}

.navbar li{
	display: inline;
}

.navbar p{
	background-color: white;
	padding: 10px;
	font-weight: bold;
	box-shadow: 4px 5px black;
}

a:link{
	color: #ddd;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

main > section{
	padding-block: 5rem;
	min-height: 80vh;
}

.top-lang{
	height: 200px;
	width: 300px;
	display: block;
	margin-inline: auto;
}

#hero{
	color: white;
	font-weight: bold;
}

#hero ~ p{
	color: white;
}

.project-container{
	display: flex;
	justify-content: center;
	gap: 1em;
}

.project-container > ul{
	list-style: none;
	background: #222;
	padding: 1rem;
	color: #ddd;
	box-shadow: 3px 4px black;
}

#profile-section{
	text-align: center;
	background-color: black;
}

.social-media img{
	height: 50px;
	width: 50px;
}

#project-section{
	height: 750px;
	background-color: white;
}

#project-section h2{
	text-align: center;
}

#profile-image{
	width: 250px;
	height: 100px;
}

#footer{
	padding: 2em;
	text-align: center;
	font-size: 15px;
	background-color:grey;
}