@media screen and (max-width: 700px){
        .navbar{
	   font-size: 10px;
           flex-direction: column;
        }
}

@media screen and (max-width: 600px){
	#profile-section{
		flex-direction: column;
	}
	#status{
		flex-direction: column;
	}
	.container{
		flex-direction: column;
		height: 100px;
		width: 200px;
	}

	#project-section > div{
		width: auto;
		margin: 10px;
		text-align: center;
		line-height: 30px;
		height: auto;
	}
	.navbar a:hover{
		padding: 15px;
	}
	#footer{
		flex-direction: flex-end;
	}
}

*{
	scroll-behavior: smooth;
}

.top-lang{
	height: 200px;
	width: 300px;
	display:block;
	margin-left: auto;
	margin-right: auto;
}

#judul{
	color: white;
	font-weight: bold;
}
body{
	margin: 0;
}

#subjudul{
	color: white;
}

.list-card{
	height: 200px;
	background-color: cyan;
	box-shadow: 3px 4px black;
}

.container{
	float: center;
	display: flex;
	justify-content: center;
}

.github-project{
	height: 200px;
	background-color: gold;
	box-shadow: 3px 4px black;
}

#profile-section{
	padding: 20px;
	text-align: center;
	height: auto;
	width: auto;
	background-color: black;
}
.navbar li{
	display: inline;
}

.social-media img{
	height: 50px;
	width: 50px;
}

.project-list{
	height: 200px;
	background-color: grey;
	box-shadow: 2px 4px black;
}

nav.navbar{
	height: auto;
	background-color: darkgreen;
	text-align: right;
	padding:10px;
	position: sticky;
	display: flex;
	align-items: center;
}
#project-section{
	height: 750px;
	background-color: white;
}

#profile-image{
	width: 250px;
	height: 100px;
}
.navbar a{
	padding: 14px 10px;
	color: white;
	text-decoration: none;
}

.navbar a:hover{
	background-color: white;
	color: green;
	top: 0;
	padding: 13px;
}
.navbar p{
	float: left;
	font-weight: bold;
	background-color: white;
	padding: 10px;
	top: 0;
	box-shadow: 4px 5px black;
	display: block;
}

#footer{
	text-align: center;
	font-size: 15px;
	background-color:grey;
}
